<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nacoss Elections</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="banner"></div>
      <div class="login-form">
        <div class="form-area">
          <h3>login to vote</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
            ducimus.
          </p>
          <form id="loginForm" autocomplete="off">
            <label for="matric-number">matric number: </label>
            <input type="text" placeholder="matric number" name="matNo" id="matric-number" />
            <label for="password">password: </label>
            <input type="password" placeholder="password" name="password" id="password" />
            <input type="submit" value="Submit" class="btn-submit" />
          </form>
        </div>
        <footer>&copy;bellsnacoss 2020/2021</footer>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="/js/app.js"></script>
    </div>
  </body>
</html>
