<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vote</title>
    <link rel="stylesheet" href="vote.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="logo">LOGO</div>
    <header class="header">
      <div class="banner">
        <h2 class="title">nacoss election <br />candidates 2020/2021</h2>
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <br />Expedita quaerat temporibus harum incidunt ipsum
        </p>
        <!-- <div class="cta">
          <a href="#candidates" class="btn-vote">vote now</a>
        </div> -->
      </div>
    </header>

    <section id="candidates">
      <div class="container">
        <div class="card">
          <!-- DELETE FROM HERE -->
          <div class="img"></div>
          <h3>lorem</h3>
          <label><input type="radio" name="items" />Item 1</label>
          <label><input type="radio" name="items" />Item 2</label>
          <label><input type="radio" name="items" />Item 3</label>
          <label><input type="radio" name="items" />Item 4</label>
        </div>
        <div class="card">
          <div class="img"></div>
          <h3>lorem</h3>
          <label><input type="radio" name="items-1" />Item 1</label>
          <label><input type="radio" name="items-1" />Item 2</label>
          <label><input type="radio" name="items-1" />Item 3</label>
          <label><input type="radio" name="items-1" />Item 4</label>
        </div>
        <div class="card">
          <div class="img"></div>
          <h3>lorem</h3>
          <label><input type="radio" name="items-2" />Item 1</label>
          <label><input type="radio" name="items-2" />Item 2</label>
          <label><input type="radio" name="items-2" />Item 3</label>
          <label><input type="radio" name="items-2" />Item 4</label>
        </div>
        <div class="card">
          <div class="img"></div>
          <h3>lorem</h3>
          <label><input type="radio" name="items-3" />Item 1</label>
          <label><input type="radio" name="items-3" />Item 2</label>
          <label><input type="radio" name="items-3" />Item 3</label>
          <label><input type="radio" name="items-3" />Item 4</label>
        </div>
        <!-- TO HERE -->
      </div>
      <div>
        <button type="submit" class="btn-submit">submit</button>
      </div>
    </section>
  </body>
</html>
